$border: round white;

Screen {
    align: center top;
}

.hidden {
    display: none;
}

#operations {
    background: $boost;
    layout: horizontal;
    align: center top;
    padding: 1;
}
#button-active {
    background: green;
}

#operation {
    layout: horizontal;
    align: center middle;
    margin: 1 2;
    max-width: 50;
}

#inputbox {
    background: $boost;
    align: center middle;
    margin: 1 3;
    max-width: 75;
    border: $border;
}
#inputbox-log {
    margin: 1 2;
}
#inputbox-confirm {
    layer: above;
    dock: right;
    width: -10;
}

#output {
    background: $boost;
    border: $border;
    margin: 0 1;
    max-width: 100;
    box-sizing: content-box;
}
#output, #output-queries, #output-progress, #output-console {
    height: auto;
}

QueryInfo {
    layout: horizontal;
    border: round green;
    height: 9;
}
#queryinfo-box {
    background: $boost;
    border: solid;
}
#queryinfo-title {
    text-style: bold italic;
    height: 1;
    margin: 0 2;
}
#queryinfo-meta {
    margin: 0 5;
    height: 2;
}
#queryinfo-tags Label {
    background: black;
    color: white;
    margin: 0 2;
}
#queryinfo-remove {
    align: right middle;
    background: rgb(255, 171, 171);
    max-width: 5;
    margin: 0 1;
}